<ion-view title="Aee tô dentro!" hide-nav-bar="true">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" style="width:100%;height:100%;">
      <ion-slide-page style="background-color:#F53D3D;">
        <div class="spacer" style="width: 320px; height: 52px;"></div>
        <h3 style="color:#FFFFFF;text-align:center;">Aee, tudo certo!</h3>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">Nossos organizadores receberam seu email.</p>
        </div>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">Quando chegar a hora, veja o evento na tela de contagem regressiva.</p>
        </div>
        <div>
          <img src="img/b7ZEGwOTxqvRuw6Apdr7_Contagemregressiva.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </ion-slide-page>
      <ion-slide-page style="background-color:#F53D3D;">
        <div class="spacer" style="height: 52px;"></div>
        <h3 style="color:#FFFFFF;text-align:center;">Agora, divirta-se!</h3>
        <div style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;">Ta hora, na telinha de contagem regressiva, verá como acessar nossa transmissão e o Slack também. </p>
        </div>
        <div>
          <img src="img/keD04UxwRKi5yBZakflq_Vaicomecar.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="menu.contagemRegressiva321" style="color:#FFFFFF;text-align:right;" class="button button-positive  button-block button-clear">Ok, entendi.</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>