<ion-view title="Vai começar!">
  <ion-content padding="true" class="has-header">
    <h4 style="color:#000000;">{{ treinamento.titulo }}</h4>
    <div class="list card">
      <ion-item>
        {{ treinamento.inicio | date:'dd/MM/yyyy' }} <span class="item-note">{{ treinamento.inicio | date:'HH' }}-{{ treinamento.fim | date:'HH' }}h</span>
      </ion-item>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Para assistir, acesse o YouTube.</p>
        </div>
        <a class="button button-assertive button-block icon-right ion-ios-videocam" ng-href="{{ treinamento.onde }}">YouTube</a>
      </div>
      <div class="item item-body">
        <div class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Você pode bater um papo com quem estiver falando através do canal #no-ar.</p>
        </div>
        <div class="show-list-numbers-and-dots">
          <p style="color:#000000;">Não se esqueça de nos dar um feedback, isso pode ser feito pelo canal "sugestões".</p>
        </div>
        <a href="https://coworkingnaminhasala.slack.com" class="button button-assertive button-block icon-right ion-chatbubbles">Slack</a>
      </div>
    </div>
  </ion-content>
</ion-view>